<p>
  Hello <%= recipientName %>,
</p>

<p>
  Someone, probably you, requested a password reset for your account at <a href="http://<%= siteUrl %>"><%= siteUrl %></a>.
  To reset your password, click <a href="http://<%= siteUrl %>/#/passwordReset/<%= token %>">here</a>.
</p>

<p>
  If you did not try to reset your password, you can ignore this email.
</p>
