<p>
  Hello <%= recipientName %>,
</p>

<p>
  Someone, probably you, requested a password reset for your account at <a href="http://<%= siteUrl %>"><%= siteUrl %></a>.
  To reset your password, click here:
</p>

<p style="padding: 10px 0;">
  <a href="http://<%= siteUrl %>/#/passwordReset/<%= token %>" style="appearance: button;
  background-color: rgb(3,155,229); text-decoration: none; padding: 15px; text-align: center; color: #fff;
  font-family: sans-serif; vertical-align: middle; border-radius: 2px;">Reset my password</a>
</p>

<p>
  The link above is valid for 24 hours. If it has expired, please <a href="http://<%= siteUrl %>/#/forgetPassword">request another one</a>.
</p>

<p>
  If you did not try to reset your password, you can ignore this email.
</p>
